.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, auto);
    justify-items: stretch;
    align-items: center;
    color: var(--secondary-200);
    border-bottom: var(--row-border);
}

.day {
    text-align: left;
    padding: 10px 5px;
}

.short {
    text-align: center;
    padding: 0;
}