.wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--component-padding);
}

.grid {
    // max-width: 100%;
    max-width: var(--container-width);
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 10px 30px;
    height: auto !important;
}