.button {
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: .4em;
    padding: var(--form-padding-y) var(--form-padding-x);
    font-size: var(--fz-r);
}

svg {
    width: 1.5em;
    height: 1.5em;
    object-fit: contain;
    object-position: center;
}

.default {
    background: none;
    color: var(--text);
    fill: var(--text);
    stroke: var(--text);

    &:hover {
        background: var(--secondary-100);
    }
}

.large {
    font-size: var(--fz-l);
}