.button {
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: .4em;
    font-size: var(--fz-r);
    color: var(--text);
}

.default {
    background: none;
    padding: var(--form-padding-y) var(--form-padding-x);

    &:hover {
        background: var(--secondary-100);
    }
}

.transparent {
    background: none;
}

.large {
    font-size: var(--fz-l);
}