.button {
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: .4em;
    // height: calc(1em + (2*var(--form-padding-y)));
    padding: var(--form-padding-y) var(--form-padding-x);
    font-size: var(--fz-r);
}

.default {
    background: none;
    color: var(--text);

    &:hover {
        background: var(--secondary-100);
    }
}

.large {
    font-size: var(--fz-l);
}

.ico {
    color: var(--text);
    fill: var(--text);
    stroke: var(--text);
    height: 1.5em;

    svg {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }
}