.day {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(24, auto);
    border-right: var(--row-border);
}

.row {
    border-bottom: var(--cell-border);
}

.offHour {
    background: var(--secondary-50);
}

.subRow {
    height: 50%;
    width: 100%;
    display: flex;
    border-bottom: var(--cell-border);
    border-style: dashed;
    padding-right: var(--form-padding-x);

    &:last-child {
        border-bottom: 0;
    }
}

.notices {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
}

.notice {
    flex-grow: 1;
    background: red;
    color: white;
    font-weight: bold;
    border: 2px solid black;
}