.header {
    background: var(--primary);
}

.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.navigate {
    display: flex;
    align-items: center;
    gap: 5px;
}

.caption {
    font-size: var(--fz-xl);
    color: var(--brand-200);
    cursor: default;
}

.controls {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

.btnsGroup {
    display: flex;
}

.separatedBtn {
    border-right: var(--cell-border);
    border-color: var(--secondary-200);
}

@media print {
    .header {
        display: none;
    }
}