.sidebar {
    width: auto;
    overflow-x: hidden;
    height: 100vh;
    overflow-y: auto;
    color: var(--brand-opposite);
    background: var(--brand-200);
}

.container {
    padding: var(--component-padding);
    width: 100%;
    height: auto;
    overflow: auto;
}