.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 15px;
}

.fieldset {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;
}

.eventNameField {
    flex-grow: 1;
}

.fields {}

.btns {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.moreBtn {
    color: var(--brand-200);
}

.saveBtn {
    background: var(--color-red);
    color: var(--color-white);
}